:root {
  --background: #fff;
  --foreground: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #000;
    --foreground: #fff;
  }
}

[data-theme="dark"] {
  --bottom-background: #1b1b1b;
  --background: #131313;
  --text-main: #aeaeae;
  --text-secondary: #676767;
  --text-accent: #ffffff;

  --accent: #3d3ddb;

  --gradient-bg: #131313d6;
  --gradient-1: #4d4ddbd6;
  --gradient-2: #a2f6e6d6;
  --gradient-3: #4d4ddbd6;
}

[data-theme="light"] {
  --bottom-background: #1b1b1b;
  --background: #131313;
  --text-main: #aeaeae;
  --text-secondary: #676767;
  --text-accent: #ffffff;

  --accent: #3d3ddb;

  --gradient-bg: #ffffffd6;
  --gradient-1: #fa9348d6;
  --gradient-2: #a2f6e6d6;
  --gradient-3: #fa9348d6;
}

[data-theme="pink"] {
  --bottom-background: #1b1b1b;
  --background: #131313;
  --text-main: #aeaeae;
  --text-secondary: #676767;
  --text-accent: #ffffff;

  --accent: #3d3ddb;

  --gradient-bg: #ff00ffd6;
  --gradient-1: #fff;
  --gradient-2: #a2f6e6d6;
  --gradient-3: #fff;
}

$bottom-background: var(--bottom-background);
$background: var(--background);
$text-main: var(--text-main);
$text-secondary: var(--text-secondary);
$text-accent: var(--text-accent);

$accent: var(--accent);

$gradient-bg: var(--gradient-bg);
$gradient-1: var(--gradient-1);
$gradient-2: var(--gradient-2);
$gradient-3: var(--gradient-3);

.main {
  background-color: $bottom-background;
  color: $text-main;
}

// temporary gradient
.gradient-box {
  position: absolute;
  top: 100px;
  left: 50%;
  height: 80svh;
  width: 90vw;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-50%);
}
