:root {
  --font-family: "Libre Franklin", sans-serif;
  --font-family-accent: "Trirong", serif;

  // --------------- BASE THEME ---------------

  // COLORS
  --white: #fff;
  --black: #000;
  --purple: #3d3ddb;
  --green: #a2f6e6;

  // --gray-100: #f7fafc;
  --gray-200: #aeaeae;
  // --gray-300: #f7fafc;
  --gray-400: #676767;
  --gray-500: #242424;
  // --gray-600: #f7fafc;
  // --gray-700: #f7fafc;
  --gray-800: #1b1b1b;
  --gray-900: #131313;

  // BG
  --bottom-background: var(--gray-800);
  --background: var(--gray-900);

  // BORDERS
  --border-color: var(--gray-400);
  --radius: 10px;

  // TEXT
  --text-main: var(--gray-200);
  --text-secondary: var(--gray-400);
  --text-accent: var(--white);

  --accent: var(--purple);

  // GRADIENT
  --gradient-bg: rgba(var(--gray-900), 0.8);
  --gradient-1: rgba(var(--purple), 0.8);
  --gradient-2: rgba(var(--green), 0.8);
}

[data-theme="dark"] {
  --bottom-background: #1b1b1b;
  --background: #131313;
  --text-main: #aeaeae;
  --text-secondary: #676767;
  --text-accent: #ffffff;

  --accent: #3d3ddb;

  --gradient-bg: #131313d6;
  --gradient-1: #4d4ddbd6;
  --gradient-2: #a2f6e6d6;
}

[data-theme="light"] {
  --bottom-background: #c9c9c9;
  --background: #ececec;
  --text-main: #353535;
  --text-secondary: #676767;
  --text-accent: #1a1a1a;

  --accent: #fa9348;

  --gradient-bg: #ffffffd6;
  --gradient-1: #fa9348d6;
  --gradient-2: #a2f6e6d6;
}

// [data-theme="pink"] {
//   --bottom-background: #ff53ee;
//   --background: #c901b5;
//   --text-main: #ffffff;
//   --text-secondary: #676767;
//   --text-accent: #ffffff;

//   --accent: #3d3ddb;

//   --gradient-bg: #ff00ffd6;
//   --gradient-1: #fff;
//   --gradient-2: #a2f6e6d6;
//   --gradient-3: #fff;
// }

// BG
// (colors)
$bottom-background: var(--bottom-background);
$background: var(--background);
//----------------------------------------

// BORDERS
// (colors)
$border-color: var(--border-color);
// (radius)
$radius: var(--radius);
//----------------------------------------

// TEXT
// (fonts)
$font-family: var(--font-family);
$font-family-accent: var(--font-family-accent);
// (colors)
$text-main: var(--text-main);
$text-secondary: var(--text-secondary);
$text-accent: var(--text-accent);
//----------------------------------------

// GRADIENT
$gradient-bg: var(--gradient-bg);
$gradient-1: var(--gradient-1);
$gradient-2: var(--gradient-2);
//----------------------------------------

// UTILS
// (colors)
$accent: var(--accent);

// TRANSITIONS
$t-fast: 0.2s;
$t-normal: 0.3s;
$t-slow: 0.4s;
$t-2slow: 0.5s;
$t-easing: cubic-bezier(0.25, 1, 0.5, 1);

body {
  background-color: $bottom-background;
  color: $text-main;
  font-family: $font-family;
  font-size: 16px;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  font-optical-sizing: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  background-color: $bottom-background;
  color: $text-main;
  min-height: 100vh;
  width: 100vw;
  display: flex;
}

// temporary gradient
.gradient-box {
  position: absolute;
  top: 100px;
  left: 50%;
  height: 80svh;
  width: 90vw;
  border-radius: 20px;
  overflow: hidden;
  transform: translateX(-50%);
}
