// VARIABLES
:root {
  --btn-background--hover: var(--gray-850);
  --box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.25), 0px 2px 2px -1px rgba(0, 0, 0, 0.3),
    0px -1px 4px 0px rgba(0, 0, 0, 0.25) inset;

  --box-shadow--hover: 0px 2px 10px -2px rgba(0, 0, 0, 0.25), 0px 1px 2px -1px rgba(0, 0, 0, 0.3),
    0px -1px 2px 0px rgba(0, 0, 0, 0.25) inset;
}
[data-theme="light"] {
  --btn-background--hover: var(--gray-150);
  --box-shadow: 0px 4px 10px -2px rgba(0, 0, 0, 0.05), 0px 2px 2px -1px rgba(0, 0, 0, 0.1),
    0px -1px 4px 0px rgba(0, 0, 0, 0.05) inset;

  --box-shadow--hover: 0px 2px 10px -2px rgba(0, 0, 0, 0.05), 0px 1px 2px -1px rgba(0, 0, 0, 0.1);
}

$btn-border-color: var(--background--70);
$btn-background--hover: var(--btn-background--hover);
$box-shadow: var(--box-shadow);
$box-shadow--hover: var(--box-shadow--hover);

$btn-radius: $radius;
$btn-t-delay: 100ms;

// BG
$btn-gradient-bg: var(--gradient-bg);
$btn-gradient-1: var(--gradient-1);
$btn-gradient-2: var(--gradient-2);
$btn-gradient-overlay: var(--btn-gradient-overlay);

//----------------------------------------

.button {
  border: none;
  border-radius: $btn-radius;
  background: $background;
  padding: 0.5rem 0.5rem;
  border-top: 1px solid $btn-border-color;
  border-bottom: 1px solid $btn-border-color;
  box-shadow: $box-shadow;

  z-index: 1;

  font-family: $font-accent;
  color: $text-main;
  font-style: italic;
  font-size: 1.125rem;
  font-weight: 300;
  text-transform: lowercase;
  transition: background-color 0.2s ease-in-out, transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;

  &:hover {
    background: $btn-background--hover;
    transform: scale(0.985);
    box-shadow: $box-shadow--hover;
  }

  &:active {
  }
}
