$slide-radius: 2.25rem;
$hero__gradient-margin: 1rem;

.gradient {
  overflow: hidden;
  position: relative;
  height: calc(35vh - $hero__gradient-margin * 2);
  width: 100%;
  // background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(20px);
  border-radius: calc($slide-radius - $hero__gradient-margin);

  canvas {
    width: 100lvw !important;
    height: 40lvh !important;
    border-radius: calc($slide-radius - $hero__gradient-margin);
  }
}
