
$hero__gradient-margin: 1rem;


.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  &__heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: $padding;

    @media screen and (max-width: 768px) {
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      width: 100%;
      padding: $padding-small;

      .hero__title {
        order: 2;
      }

      .hero__location {
        order: 1;
        align-self: flex-end;
      }
    }
  }
  &__title {
    width: max-content;
    &__title {
      font-weight: 100;
      font-size: calc(2.34rem + 1vw);
      line-height: 1;
      font-style: normal;
      margin-top: 1rem;

      @media screen and (max-width: 768px) {
        font-size: calc(1.5rem + 1vw);
      }

      .row-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        width: 100%;
        .accent {
          font-weight: 900;
          font-size: 1.1em;
          font-family: $font-accent;
          font-style: italic;
          color: $text-accent;
        }
        .description {
          max-width: 13.375rem;
          width: 50%;
          font-size: 0.3em;
          font-weight: 100;
          line-height: normal;
          margin-top: 1em;
        }
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    height: 40vh;
    // overflow: hidden;
    @media screen and (max-width: 768px) {
      height: 40vh;
    }

    .hero__gradient {

      position: absolute;
      bottom: $hero__gradient-margin;
      left: $hero__gradient-margin;
      height: calc(35vh - $hero__gradient-margin *2);
      width: calc(100% - $hero__gradient-margin *2);
      overflow: hidden;
      border-radius: calc($slide-radius - $hero__gradient-margin);

      @media screen and (max-width: 768px) {
        height: 40vh;
      }
    }

    &__image {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__text {
      position: absolute;
      top: 0;
      right: 10vw;
      width: 16vw;
      pointer-events: none;
      font-weight: 100;
      transform: translateY(-50%);
      p {
        font-style: italic;

        font-size: 0.875rem;
        line-height: 1.18;
      }

      &--accent {
        color: $text-accent;
        font-weight: 500;
      }

      @media screen and (max-width: 768px) {
        display: none;
      }
    }
  }
}
