.hero {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  width: 100%;
  height: 100%;
  &__heading {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    padding: $padding;
  }
  &__title {
    width: max-content;
    &__title {
      font-weight: 100;
      font-size: calc(2.34rem + 1vw);
      line-height: 1;
      font-style: normal;
      margin-top: 1rem;

      .row-2 {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5em;
        width: 100%;
        .accent {
          font-weight: 900;
          font-size: 1.1em;
          font-family: $font-accent;
          font-style: italic;
          color: $text-accent;
        }
        .description {
          max-width: 13.375rem;
          width: 50%;
          font-size: 0.3em;
          font-weight: 100;
          line-height: normal;
          margin-top: 1em;
        }
      }
    }
  }
  &__location {
    font-size: 1rem;
    font-weight: 100;
    line-height: normal;
    margin-top: 1em;
    color: $text-secondary;
    transition: color $t-normal $t-easing;

    p {
      .open,
      .close,
      .content {
        transition: transform $t-normal $t-easing;
        display: inline-block;
      }
    }

    &:hover {
      color: $text-accent;

      p {
        .open {
          transform: translateX(-0.5em);
        }
        .close {
          transform: translateX(0.5em);
        }
      }
    }
  }

  &__content {
    position: relative;
    width: 100%;
    height: 40vh;
    // overflow: hidden;
    .hero__gradient {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 35vh;
      width: 100%;
      overflow: hidden;
      border-radius: $slide-radius;
    }

    &__image {
      position: absolute;
      top: 0;
      left: 50%;
      transform: translateX(-50%);

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
    }

    &__text {
      position: absolute;
      top: 0;
      right: 10vw;
      width: 16vw;
      pointer-events: none;
      font-style: italic;
      font-weight: 100;

      &--accent {
        color: $text-accent;
        font-weight: 500;
      }
    }
  }
}
