.list-item {
  width: 100%;
  padding: 2rem;
  font-size: 4rem;
  font-style: italic;
  font-weight: 600;
  font-family: $font-accent;
  cursor: pointer;
  color: $text-secondary;

  transition: transform $t-slow $t-easing, color $t-normal $t-easing;

  &:hover,
  &[data-active="true"] {
    transform: translateX(2rem);
    color: $text-main;
  }
}
