.main-content-container {
  width: calc(100vw - $sidebar-width);
  margin-left: $sidebar-width;
  padding: $main-content-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: $main-content-padding;

  @media screen and (max-width: 768px) {
    width: calc(100vw - $mobile-sidebar-width);
    margin-left: $mobile-sidebar-width;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    opacity: 0;
    color: transparent;
  }
}
