.main-content-container {
  width: calc(100vw - $sidebar-width);
  margin-left: $sidebar-width;
  padding: $main-content-padding;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  overflow-y: scroll;
  overflow-x: hidden;
  gap: 2rem;

  @media screen and (max-width: 768px) {
    width: 100vw;
    margin-left: 0;
    padding: 0.4rem;
  }

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    opacity: 0;
    color: transparent;
  }
}
