.open-to-work {
  text-orientation: mixed;
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  font-size: 0.8rem;
  font-family: 400;
  background-color: red;
  color: white;
  padding: 1rem 0.2rem;
  border-radius: 5px;
  cursor: pointer;
}
