// VARIABLES
$slide-radius: 2.25rem;
// ----------------------------------------
.slide {
  width: 100%;
  height: calc(100vh - (2 * $main-content-padding));
  background-color: $background;
  border-radius: $slide-radius;
  overflow: hidden;
  position: relative;

  .anchor {
    position: absolute;
    top: calc(1px - $main-content-padding);
  }

  .content {
    height: 100%;
  }

  &:not(:first-child) {
    margin-top: -4rem;
  }
}
