// VARIABLES
$slide-radius: 1.25rem;
// ----------------------------------------
.slide {
  width: 100%;
  height: calc(100vh - (2 * $main-content-padding));
  background-color: $background;
  border-radius: $slide-radius;
}
