:root {
  --title-color: var(--gray-800);
  --contest-text-color: var(--gray-200);
}

[data-theme="light"] {
  --title-color: var(--gray-200);
  --contest-text-color: var(--gray-800);
}

$title-color: var(--title-color);
$contest-text-color: var(--contest-text-color);

.projects-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .navigation {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 3rem;
    gap: 2rem;
    padding: 0 2rem;
    color: $text-secondary;

    &__item {
      font-size: 1rem;
      font-weight: 100;
      cursor: pointer;
      transition: color 0.2s ease-in-out;

      &[data-active="true"] {
        color: $text-accent;
        .index {
          color: $accent;
        }
      }

      &:hover {
        color: $text-accent;
      }

      .index {
        transition: color 0.2s ease-in-out;
        font-size: 0.8rem;
        font-weight: 200;
        margin-right: 0.2rem;
        color: $text-secondary;
      }

      .title {
        font-size: 1.5rem;
        font-weight: 400;
      }
    }
  }

  .project {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    min-height: 60dvh;

    &__main-data {
      width: 100%;
      position: relative;

      @media screen and (max-width: 768px) {
        z-index: 2;
      }

      &__title {
        font-size: 2rem;
        font-weight: 700;
        margin-bottom: 1rem;
        width: 100%;
        position: relative;
        z-index: 1;

        h2 {
          font-size: 10vw;
          font-weight: 700;
          color: $title-color;
          white-space: nowrap;
          text-wrap: nowrap;
          overflow: hidden;
          line-height: 1.25;
          cursor: default;

          .letter {
            display: inline-block;
            min-width: 0.15em;
            // transition: color 0.4s ease-in-out;
          }
        }
      }

      &__year {
        font-size: 2rem;
        font-weight: 100;
        margin-bottom: 1rem;
        color: $text-secondary;
        position: absolute;
        top: 15%;
        left: 65%;
        z-index: 2;

        @media screen and (max-width: 768px) {
          font-size: 1.5rem;
          top: 10%;
          color: $gradient-2;
        }

        @media screen and (max-width: 480px) {
          font-size: 1rem;
          top: 5%;
        }
      }
    }

    &__content {
      position: relative;
      width: 100%;
      height: 100%;
      margin-top: -5vw;

      @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        margin-top: -14%;
        z-index: 1;
      }

      &__image {
        width: 62%;
        aspect-ratio: 16/8;
        z-index: 1;
        overflow: hidden;
        border-radius: 1rem;

        @media screen and (max-width: 1200px) {
          width: 50%;
          aspect-ratio: 16/9;
        }

        @media screen and (max-width: 768px) {
          width: 100%;
          aspect-ratio: 16/9;
        }

        video {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }

      &__description {
        position: absolute;
        bottom: 0%;
        left: 65%;
        width: 30%;
        z-index: 2;
        height: 100%;
        min-width: 400px;

        @media screen and (max-width: 1200px) {
          left: 52%;
          width: 40%;
        }

        @media screen and (max-width: 768px) {
          position: relative;
          width: 100%;
          padding: 1rem;
          left: 0%;
        }

        p {
          font-size: 1rem;
          font-weight: 100;
          color: $text-main;
          margin-bottom: 1rem;

          @media screen and (max-width: 768px) {
            font-size: 0.8rem;
            max-height: 180px;
            overflow-y: scroll;
          }
        }

        &__tags {
          display: flex;
          flex-wrap: wrap;
          gap: 0.2rem;
          margin: 0.2rem;
          // margin-bottom: 0.2rem;

          &__item {
            font-weight: 100;
            color: $text-secondary;
            padding: 0.2rem 0.5rem;
            border: 0.5px solid $title-color;
            border-radius: 0.5rem;
            margin: 0 !important;
            cursor: default;
          }
        }

        &__link {
          display: inline-block;
          margin-top: 1rem;

          @media screen and (max-width: 768px) {
            display: none;
          }

          a {
            margin: 0;
            padding: 0;

            p {
              margin: 0;
              padding: 0;
              transition: color 0.4s ease-in-out;
            }
          }

          &:hover {
            p {
              color: $contest-text-color;
            }
          }
        }

        &__link--mobile {
          display: none;
          width: 100%;

          @media screen and (max-width: 768px) {
            display: inline-block;
            margin-top: 1rem;
          }

          a {
            margin: 0;
            width: 100%;
            padding: 0;

            .button {
              width: 100%;
            }
            .background {
              opacity: 0.8;
            }
          }
        }
      }
    }
  }
}

.coloredBox {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: #000;
}
