.scopes-text {
  font-size: 1rem;
  font-weight: 100;
  line-height: normal;
  color: $text-secondary;
  transition: color $t-normal $t-easing;

  p {
    display: inline-block;
    margin: 0;
    padding: 0;
    .open,
    .close,
    .content {
      transition: transform $t-normal $t-easing;
      display: inline-block;
    }
  }

  &:hover {
    color: $text-accent;

    p {
      .open {
        transform: translateX(-0.5em);
      }
      .close {
        transform: translateX(0.5em);
      }
    }
  }
}

.main {
  &-background {
    position: fixed;
    width: 0;
    height: 0;

    svg {
      width: 100vw;
      height: 100dvh;
      filter: url(#filter);

      path {
        fill: $accent;

        &:nth-child(1),
        &:nth-child(4) {
          fill: $gradient-2;
        }
      }
    }

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100vw;
      height: 100dvh;
      background: $bottom-background--01;
      z-index: 1;
      backdrop-filter: blur(120px);
    }
  }
}
